header {
    background-color: aqua;
}
footer {
    background-color: rgb(77, 77, 77);
}
#wrapper {
    width: 1400px;
    margin: auto;
}
nav {
    background-color: rgb(77, 77, 77);
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 10px 0 10px 0;
    border: solid 1px black;
}
nav ul li a {
    color: black;
}