* {
    margin: 0;
}
body {

}
#wrapper {
    width: 1400px;
}
header {
    background-color: blue;
}
nav {
    background-color: red;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 10px 0 10px 0;
    border: solid 1px black;

}
footer {
    background-color: darkgray;
}