* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
}
#wrapper {
    background-color: rgb(255, 184, 231);
    margin: 0;
    padding: 0;
}
article {
    float: left;
}
header {
    background-color: rgb(255, 184, 231);
    text-align: center;
}
img {
    width: 100%;
}
nav {
    background-color: rgb(77,77,77);
}
a.nav {
    color: white;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    padding:15px;
    border: rgb(255, 184, 231) solid 1px;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 184, 231);
}
section {
    padding-left: 20px;
}
footer {
    padding: 0;
    text-align: center;
    background-color: rgb(77,77,77);
    clear: both;
    color: rgb(255, 184, 231);
}
@media all and (min-width: 650px){
    li {
        display: inline-block;
        border: none;
    }
    footer {
        margin: 0;
        padding: 0;
    }
    footer nav {
        padding: 15px;
    }
}
@media all and (min-width: 1000px){
    article {
        vertical-align: top;
        display: inline-block;
        width: 45%;
        margin-right: 4%;
    }
}
@media all and (min-width: 1600px){
    div#wrapper {
        width: 1600px;
        margin: auto;
    }
}