* {
    margin: 0;
    text-decoration: none;
}
body {

}
header {
    background-color: aqua;
}
#wrapper {
    width: 1400px;
    margin: auto;
}
nav {
    background-color: red;
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 10px 0 10px 0;
    border: solid 1px black;

}
footer {
    background-color: rgb(77, 77, 77);
}
#bottomNav {
    background-color: rgb(77, 77, 77);
}