* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#wrapper {
    background-color: rgb(255, 184, 231);
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(255, 184, 231);
    text-align: left;
}
h1 {
    padding-left: 1em;
    padding-top: 1em;
}
header nav {
    background-color: rgb(77,77,77);
    text-align: center;
}
a.nav {
    color: white;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    padding:15px;
    border: rgb(255, 184, 231) solid 1px;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 184, 231);
}
main {
    vertical-align: top;
    height: 500px;
}
main article, main section article {
    margin: 10px;
}
main section article {

}
article {
    float: left;
}
footer {
    padding: 0;
    text-align: center;
    background-color: rgb(77,77,77);
    clear: both;
    color: rgb(255, 184, 231);
}
@media all and (min-width: 650px){
    li {
        display: inline-block;
        border: none;
    }
    footer {
        margin: 0;
        padding: 0;
    }
    footer nav {
        padding: 15px;
    }
    article {
        margin: 10px;
        width: 100%;
    }
}
@media all and (min-width: 850px){
    article {
        vertical-align: top;
        display: inline-block;
        width: 45%;
    }
}
@media all and (min-width: 1600px){
    div#wrapper {
        width: 1600px;
        margin: auto;
    }
    main article {
        width: 30%;
    }
}