* {
    margin: 0;
    list-style-type: none;
}
body {

}
header {
    background-color: aqua;
}
#wrapper {
    width: 1400px;
    margin: auto;
    border: 1px dotted black;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 60% 10%;
}
main {
}
nav {
    background-color: rgb(77, 77, 77);
    margin: 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 10px 0 10px 0;
    border: solid 1px black;
}
nav ul li a {
    color: black;
}
footer {
    background-color: rgb(77, 77, 77);
}