@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}
#wrapper {
    background-color: rgb(255, 184, 231);
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(255, 184, 231);
    text-align: center;
}
img {
    width: 500px;
    padding: 10px;
    float: top;
    height: 281px;
}
h1 {
    text-align: left;
    padding: 1em;
}
article {
    float: bottom;
}
.clear {
    clear: both;
}
nav {
    background-color: rgb(77,77,77);
}
a.nav {
    color: white;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    padding:15px;
    border: rgb(255, 184, 231) solid 1px;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    color: rgb(255, 184, 231);
}
section {
    padding-left: 20px;
}
footer {
    padding: 0;
    background-color: rgb(77,77,77);
    clear: both;
    color: rgb(255, 184, 231);
    text-align: center;
}
footer p a {
    color: white;
    text-align: center;
}
@media all and (min-width: 650px){
    li {
        display: inline-block;
        border: none;
    }
}
@media all and (min-width: 850px){
    article {
        vertical-align: top;
        display: inline-block;
        width: 35%;
        margin-right: 4%;
    }
    li {
        display: inline-block;
        border: none;
    }
    footer {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    footer nav {
        padding: 15px;
    }
}
@media all and (min-width: 1600px){
    div#wrapper {
        width: 1600px;
        margin: auto;
    }
}