* {
    border: dotted 1px black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}
header {
    background-color: aqua;
    grid-column: 1/5;
    grid-row: 1/2;
}
img {
    width: 100%;
    height: 100%;
}
p {
    width: 100%;
    height: 100%;
}
footer {
    background-color: rgb(77, 77, 77);
    grid-row: 4/5;
    grid-column: 1/5;
}

#wrapper {
    width: 1400px;
    margin: auto;
}

nav {
    background-color: rgb(77, 77, 77);
    margin: 0;
    padding: 0;
}


ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 10px 0 10px 0;
    border: solid 1px black;
}

nav ul li a {
    color: black;
}
#black1 {
    grid-row: 2/4;
    grid-column: 1/2;
}
#article1 {
    grid-row: 2/4;
    grid-column: 2/3;
}
#black2 {
    grid-row: 2/4;
    grid-column: 3/4;
}
#article2 {
    grid-row: 2/4;
    grid-column: 4/5;
}
#black3 {
    grid-row: 2/4;
    grid-column: 5/6;
}
#article3 {
    grid-row: 2/4;
    grid-column: 6/7;
}
#black4 {
    grid-row: 2/4;
    grid-column: 7/8;
}
#article4 {
    grid-row: 2/4;
    grid-column: 8/9;
}

