@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
    background-color: rgb(224, 224, 255);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@media all and (min-width: 500px) {

    .container {
        display: absolute;
        left: 50%;
        width: 70%;
        margin: 0px auto;
        background-color: white;
        border-bottom-left-radius: 35px;
        border-bottom-right-radius: 35px;
    }

    .header {
        padding: 1em;
        font-size: 2em;
        color: white;
        background-image: linear-gradient(rgb(19, 19, 19), rgb(50, 50, 50));
    }

    .main-body {
        margin: 2em;
        display: flex;
        width: 100%;
    }

    .op1 {
        width: 50%;
    }

    .op1 .mapouter{
        position: relative;
        text-align: right;
        height: 700px;
        width: auto;
    }
    .op1 .gmap_canvas {
        overflow: hidden;
        background: none;
        height: 700px;
        width: auto;
    }

    .op2 {
        width: 50%;
    }

}

