@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: rgb(224, 224, 255);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@media all and (min-width: 500px) {

    .container {
        display: absolute;
        left: 50%;
        width: 70%;
        margin: 0px auto;
        background-color: white;
    }
    
    header {
        padding: 1rem;
        font-size: 2em;
        color: white;
        background-color: aqua;
    }

    .main-body {
        margin: 1em;
        display: flex;
        width: 100%;
    }

    .op1 {
        width: 50%;
    }

    .op1 .mapouter{
        position: relative;
        text-align: right;
        height: 700px;
        width: auto;
    }
    .op1 .gmap_canvas {
        overflow: hidden;
        background: none;
        height: 700px;
        width: auto;
    }

    .op2 {
        width: 50%;
    }

    footer {
        left: 50%;
        width: 70%;
        height: 100%;
        margin: 0 auto;
        padding: 0;
        background-color: rgb(77, 77, 77);
    }

}
