@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
    background-color: rgb(199, 217, 251);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@media all and (min-width: 950px) {

    .container {
        display: absolute;
        left: 50%;
        width: 950px;
        margin: 0px auto;
        background-color: white;
    }

    .header {
        padding: 1em;
        font-size: 2em;
    }

}

