@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

#wrapper {
    background-color: rgb(255, 184, 231);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(255, 184, 231);
    text-align: center;
}

header h1 {
    text-align: left;
    padding: 1em;
}

img {
    width: 100%;
}

nav {
    background-color: rgb(77, 77, 77);
    font-family: 'Raleway', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    padding: 15px;
    border: rgb(255, 184, 231) solid 1px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 184, 231);
}

section {
    padding-left: 20px;
}

footer {
    padding: 0;
    text-align: center;
    background-color: rgb(77, 77, 77);
    clear: both;
    color: rgb(255, 184, 231);
}

footer p a {
    color: white;
}

@media all and (min-width: 650px) {
    li {
        display: inline-block;
        border: none;
    }

    footer {
        margin: 0;
        padding: 0;
    }

    footer nav {
        padding: 15px;
    }
}

@media all and (min-width: 1000px) {
    article {
        vertical-align: top;
        display: inline-block;
        width: 45%;
        margin-right: 4%;
    }
}

@media all and (min-width: 1600px) {
    div#wrapper {
        width: 1600px;
        margin: auto;
    }
}

* {
    box-sizing: border-box
}

body {
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}
