@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@media all and (min-width: 1050px) {

    .container {
        display: absolute;
        left: 50%;
        width: 70%;
        margin: 0 auto;
        background-color: rgb(255, 170, 227);
    }
    
    header {
        padding: 1rem;
        font-size: 2em;
        color: black;
        background-color: rgb(255, 151, 220);
    }

    main-body {
        padding: 1em;
        width: auto;
        display: flex;
    }

    main-body img {
        width: 50%;
        height: 50%;
        margin: 0;
    }
    .img1 {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    main-body div {
        padding: 1em;
        color: white;
        width: auto;
        margin: 1em;
    }
    main-body div:nth-child(1n) {
        background-color: white;
        color: black;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    main-body div:nth-child(2n) {
        background-color: rgb(255, 170, 227);
        color: white;
    }
    main-body div ul {
        list-style-type: none;
    }
    main-body div ul li {
        margin: 0 0 10px 0;
    }

    footer {
        margin: 0;
        padding: 0;
        width: 70%;
        margin: 0 auto;
        background-color: rgb(77, 77, 77);
        text-align: center;
        color: rgb(255, 184, 231);
    }

    nav {
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: rgb(77, 77, 77);
    }

    nav ul {
        margin: 0;
        padding: 1em;
        list-style-type: none;
    }

    nav ul li {
        text-decoration: none;
        padding: 10px;
        margin: 0;
        display: inline;
    }

    nav ul li a {
        text-decoration: none;
        color: rgb(255, 184, 231);
        padding: 0;
        margin: 0;
    }

    footer div {
        padding: 1rem;
        font-size: 13px;
    }

}

@media all and (max-width: 1050px) {

    .container {
        background-color: rgb(255, 170, 227);
    }
    
    header {
        padding: 1rem;
        font-size: 2em;
        color: black;
        background-color: rgb(255, 151, 220);
    }

    main-body {
        padding: 1em;
        width: auto;
    }

    main-body img {
        width: 100%;
        margin: 0;
    }
    .img2 {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    main-body div {
        padding: 1em;
        color: white;
        width: auto;
        margin: 1em;
        
    }
    main-body div:nth-child(1n) {
        background-color: white;
        color: black;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    main-body div:nth-child(2n) {
        background-color: rgb(255, 170, 227);
        color: white;
    }
    main-body div ul {
        list-style-type: none;
    }
    main-body div ul li {
        margin: 0 0 10px 0;
    }

    footer {
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: rgb(77, 77, 77);
        color: rgb(255, 184, 231);
    }

    nav {
        margin: 0;
        padding: 0;
        text-align: center;
        background-color: rgb(77, 77, 77);
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    nav ul li {
        text-decoration: none;
        padding: 10px;
        margin: auto;
        display: flex;
        border: solid white 1px;
    }

    nav ul li a {
        text-decoration: none;
        color: rgb(255, 184, 231);
        padding: 0;
        margin: 0;
    }

    footer div {
        padding: 1rem;
        font-size: 13px;
    }

}

